name: Django CI

on:
  push:
    branches: [ "main", "master" ]
  pull_request:
    branches: [ "main", "master" ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Build and Run Tests
      run: |
        # This builds the image using your docker-compose.yml in the root
        docker compose build backend
        # This runs the tests and then cleans up the container (--rm)
        docker compose run --rm backend python manage.py test api